name: test

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]

jobs:
    test:
        name: Test WebAssembly compilation
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4

            -   name: Add permissions for Docker
                run: chmod -R a+w Tests/

            -   name: Test WebAssembly compilation
                run: Scripts/TestAll
